<?xml version="1.0"?>

<!--
This launch file starts a series of nodes for the Edante project.

If you receive an error message that contains "Excecute as root"
then go to the bin folder and execute: sudo setcap cap_net_raw+ep
or enable the USE_SETCAP flag in the cmake file and recompile again.
-->

<launch>
    <node name="motion" pkg="motion" type="motion" output="screen">
    </node>
    <node name="sensing" pkg="sensing" type="sensing" output="screen">
    </node>
    <node name="signalling" pkg="signalling" type="signalling" output="screen">
    </node>
    <node name="vision" pkg="vision" type="vision" output="screen">
    </node>
    <node name="motion_planning" pkg="motion_planning" type="motion_planning" output="screen">
    </node>
    <node name="navigation" pkg="navigation" type="navigation" output="screen">
    </node>
</launch>
